.menu{
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.menu ul {
  background-color: white;
  width: 70%;
  margin-left: auto;
	margin-right: auto;
	text-decoration: none;
}

.menu ul li a:hover{
	background-color: white;
}

.menu ul li {
  margin-top: -15px;
  margin-bottom: -15px;
	width: 50%;
	background-color: white;

}

.logo img{
  width: 15%;
}

.menu ul li button{
  width: 75%;
}


ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

