.splash-page{
  width: 66%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  margin-top: 75px;
  font-size: 10px;
  background-color: rgba(238, 228, 228, 0.315);
  box-shadow: 2px 2px 2px;
}

@media (min-width: 850px){
  .splash-page{
    width: 66%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin-top: 75px;
  }


  .focus h1{
    font-size: 75px;
  }

  .focus h2{
    margin-top: 25px;
    font-size: 50px;
  }

  .about{
    margin-top: 50px;
  }
}

