
.hand li{
  margin-left: 30px;
  /* border: 2px solid red; */
  height: 78px;
  width: 50px;
  /* border: 2px solid black; */

  text-align: center;
  padding-top: none;
  margin-top: none;
  margin-bottom: 10px;
}

.deal button{
  height: 20px;
  margin-top: 0px;
  margin-bottom: 0px;
  padding-top: 0px;
  width: 80px;
  box-shadow: 2px 2px 2px;
}

.held{
  border: 2px solid red;
}

.ideal{
  border: 2px solid green;
}

.history{
  background-color: white;
  margin-top: 20px;
  margin-bottom: 20px;
}

.history li{
  display: block;
}

.hand {
  list-style: none;
  background-color: white;
  margin-top: 0px;
}

.training{
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.note-modal{
  z-index: 1;

}

@media (min-width: 800px){

  .hand {
    list-style: none;
    background-color: white;
    margin-top: 50px;
  }

  .game-component{
    margin-top: 50px;
  }

  .hand li{
    margin-left: 30px;
    border: 2px solid black;
    height: 190px;
    width: 125px;
    text-align: center;
  }

  .deal button{
    height: 50px;
    width: 80px;
    box-shadow: 2px 2px 2px;
  }

}
