

.hand {
  text-align: center;
  
}

.training button{
  width: 20%;
  margin-left: auto;
  margin-right: auto;

}

h2 {
  text-align: center;
}

.training {
  box-sizing: border-box;
}

.controls {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.controls button {
  width: 20%;
  margin-left: auto;
  margin-right: auto;
}
.game-component{
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.game-component ul {
  background-color: white;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.game-component ul li {
  width: 14%;
  margin-left: 3%;
  margin-right: 3%;
}

.logoutButton {
  text-align: center;
}

.logoutButton button{
  margin: 200px;
  width: 200px;
  height: 200px;
  color: red;
  background-color: black;
}

.deal {
  text-align: center;
}

.deal button{
  height: 20px;
  margin-top: 15px;
  margin-bottom: 15px;
  padding-top: 0px;
  width: 80px;
  box-shadow: 2px 2px 2px;
}

.held{
  background: rgba(179, 10, 10, 0.5);
}

.ideal{
  background: rgba(10, 179, 18, 0.5);
}

.history{
  background-color: white;
  margin-top: 20px;
  margin-bottom: 20px;
}

.history li{
  display: block;
}

.hand {
  list-style: none;
  background-color: white;
  margin-top: 0px;
}

.training{
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.note-modal{
  z-index: 1;

}

@media (min-width: 800px){
}